# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y

0       0
1       0
2       0
3       1
4       0
       ..
1594    0
1595    1
1596    1
1597    0
1598    1
Name: credit_ranking, Length: 1599, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Fit the scaler to the features training dataset
# ignoring this as it seems to be a duplicate instruction made in error.

---

## Compile and Evaluate a Model Using a Neural Network

In [9]:
X_train

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
1144,7.3,0.320,0.23,2.3,0.066,35.0,70.0,0.99588,3.43,0.62,10.1
73,8.3,0.675,0.26,2.1,0.084,11.0,43.0,0.99760,3.31,0.53,9.2
446,12.5,0.380,0.60,2.6,0.081,31.0,72.0,0.99960,3.10,0.73,10.5
399,8.7,0.765,0.22,2.3,0.064,9.0,42.0,0.99630,3.10,0.55,9.4
647,8.3,0.845,0.01,2.2,0.070,5.0,14.0,0.99670,3.32,0.58,11.0
...,...,...,...,...,...,...,...,...,...,...,...
715,7.2,0.490,0.18,2.7,0.069,13.0,34.0,0.99670,3.29,0.48,9.2
905,9.2,0.580,0.20,3.0,0.081,15.0,115.0,0.99800,3.23,0.59,9.5
1096,6.6,0.725,0.09,5.5,0.117,9.0,17.0,0.99655,3.35,0.49,10.8
235,7.2,0.630,0.00,1.9,0.097,14.0,38.0,0.99675,3.37,0.58,9.0
1061,9.1,0.400,0.50,1.8,0.071,7.0,16.0,0.99462,3.21,0.69,12.5

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [10]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1]

# Review the number of features
number_input_features

11

In [11]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  6

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Define the number of neurons in the output layer
output_nodes = 1

In [12]:
# Create the Sequential model instance
nn = tf.keras.models.Sequential()

# Add the first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

c:\Users\clayt\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [13]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 3)              │            21 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 97 (388.00 B)

 Trainable params: 97 (388.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [14]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4699 - loss: 1.1455
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 852us/step - accuracy: 0.4830 - loss: 0.9418
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 683us/step - accuracy: 0.4707 - loss: 0.8661
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.4880 - loss: 0.8132
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.5050 - loss: 0.7608
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 529us/step - accuracy: 0.5767 - loss: 0.7026
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 850us/step - accuracy: 0.6029 - loss: 0.6802
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 921us/step - accuracy: 0.5979 - loss: 0.6672
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.6752 - loss: 0.6431
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.6796 - loss: 0.6285
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - accuracy: 0.6972 - loss: 0.6190
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 573us/step - accuracy: 0.6883 - loss: 0.6148
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.7102 - loss: 0.5979
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - accuracy: 0.7112 - loss: 0.5959
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - accuracy: 0.7221 - loss: 0.5858
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.7239 - loss: 0.5701
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7166 - loss: 0.5834
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.7236 - loss: 0.5715
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 162us/step - accuracy: 0.7041 - loss: 0.5894
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.7322 - loss: 0.5634
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7373 - loss: 0.5481
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.7225 - loss: 0.5684
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.7450 - loss: 0.5485
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 629us/step - accuracy: 0.7434 - loss: 0.5429
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7462 - loss: 0.5398
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 856us/step - accuracy: 0.7494 - loss: 0.5354
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 382us/step - accuracy: 0.7261 - loss: 0.5478
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - accuracy: 0.7373 - loss: 0.5456
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step - accuracy: 0.7395 - loss: 0.5406
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7588 - loss: 0.5196
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.7394 - loss: 0.5380
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - accuracy: 0.7544 - loss: 0.5095
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 807us/step - accuracy: 0.7425 - loss: 0.5257
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 789us/step - accuracy: 0.7674 - loss: 0.4969
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7714 - loss: 0.5048
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - accuracy: 0.7420 - loss: 0.5156
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.7377 - loss: 0.5299
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 823us/step - accuracy: 0.7500 - loss: 0.5152
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.7352 - loss: 0.5284
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.7417 - loss: 0.5237
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 839us/step - accuracy: 0.7533 - loss: 0.5038
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7364 - loss: 0.5218
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 227us/step - accuracy: 0.7328 - loss: 0.5225
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - accuracy: 0.7704 - loss: 0.4925
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 770us/step - accuracy: 0.7404 - loss: 0.5172
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 955us/step - accuracy: 0.7525 - loss: 0.5081
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - accuracy: 0.7387 - loss: 0.5154
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.7395 - loss: 0.5182
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 279us/step - accuracy: 0.7274 - loss: 0.5124
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 904us/step - accuracy: 0.7436 - loss: 0.5173

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [16]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 5ms/step - accuracy: 0.7400 - loss: 0.5133
Loss: 0.5133477449417114, Accuracy: 0.7400000095367432

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [17]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Export your model to a keras file
nn.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [18]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [19]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled,verbose=2)

# Display a sample of the predictions
predictions

13/13 - 0s - 4ms/step

array([[0.67806196],
       [0.47505152],
       [0.8709766 ],
       [0.75248444],
       [0.84342396],
       [0.8297223 ],
       [0.8806922 ],
       [0.104874  ],
       [0.57319784],
       [0.29195112],
       [0.82387066],
       [0.3577016 ],
       [0.6025985 ],
       [0.7915899 ],
       [0.6658017 ],
       [0.30023828],
       [0.69373727],
       [0.41315556],
       [0.79316276],
       [0.37183648],
       [0.29773146],
       [0.84206295],
       [0.32789737],
       [0.8630849 ],
       [0.26771683],
       [0.7753344 ],
       [0.817317  ],
       [0.7672749 ],
       [0.15530732],
       [0.22197476],
       [0.3925223 ],
       [0.9261211 ],
       [0.27347186],
       [0.896528  ],
       [0.16706131],
       [0.6253201 ],
       [0.23422742],
       [0.39175957],
       [0.87367105],
       [0.18151712],
       [0.88769054],
       [0.09120839],
       [0.09454478],
       [0.8067798 ],
       [0.13642797],
       [0.6235779 ],
       [0.18271527],
       [0.3381458 ],
       [0.19539258],
       [0.7954846 ],
       [0.08695091],
       [0.2926207 ],
       [0.8513092 ],
       [0.0915702 ],
       [0.19687478],
       [0.79321134],
       [0.82321584],
       [0.86941   ],
       [0.7856984 ],
       [0.25078565],
       [0.82050323],
       [0.13163204],
       [0.33825928],
       [0.30814958],
       [0.08356594],
       [0.661812  ],
       [0.80101603],
       [0.6709074 ],
       [0.37331536],
       [0.9081564 ],
       [0.16706131],
       [0.8563566 ],
       [0.38288525],
       [0.4542881 ],
       [0.46648902],
       [0.3318009 ],
       [0.8365341 ],
       [0.17420107],
       [0.20279467],
       [0.75136256],
       [0.7801528 ],
       [0.12365738],
       [0.13796608],
       [0.3390857 ],
       [0.62077653],
       [0.10534959],
       [0.14359416],
       [0.86719644],
       [0.3231251 ],
       [0.6563337 ],
       [0.16529264],
       [0.89597154],
       [0.18621941],
       [0.88546413],
       [0.78265285],
       [0.31570125],
       [0.8619153 ],
       [0.47969395],
       [0.18609431],
       [0.82067716],
       [0.4251492 ],
       [0.28329763],
       [0.22379133],
       [0.12213468],
       [0.09632784],
       [0.3776606 ],
       [0.76218593],
       [0.4770436 ],
       [0.842784  ],
       [0.3073164 ],
       [0.94535875],
       [0.40328273],
       [0.7843754 ],
       [0.29067716],
       [0.20008808],
       [0.94880086],
       [0.23654671],
       [0.08575588],
       [0.25252458],
       [0.177076  ],
       [0.0951087 ],
       [0.92726594],
       [0.84114844],
       [0.15016082],
       [0.29366487],
       [0.45270562],
       [0.7832676 ],
       [0.25788024],
       [0.74178165],
       [0.6676289 ],
       [0.704884  ],
       [0.2534746 ],
       [0.9064589 ],
       [0.14081496],
       [0.8326414 ],
       [0.78803235],
       [0.13222076],
       [0.90784657],
       [0.3620896 ],
       [0.29706153],
       [0.22518027],
       [0.3695762 ],
       [0.5841247 ],
       [0.21298969],
       [0.7746358 ],
       [0.8927569 ],
       [0.65941274],
       [0.07460974],
       [0.78988117],
       [0.7907404 ],
       [0.5344911 ],
       [0.91584694],
       [0.1978657 ],
       [0.23832482],
       [0.75131863],
       [0.88281417],
       [0.8549409 ],
       [0.8522056 ],
       [0.82594866],
       [0.40454853],
       [0.8398476 ],
       [0.4976904 ],
       [0.28225696],
       [0.12552336],
       [0.8993236 ],
       [0.7869965 ],
       [0.6341406 ],
       [0.12388241],
       [0.12839493],
       [0.786744  ],
       [0.22324245],
       [0.8146981 ],
       [0.18306984],
       [0.27212238],
       [0.8846662 ],
       [0.36571035],
       [0.31066382],
       [0.19168948],
       [0.4049903 ],
       [0.31570125],
       [0.68798745],
       [0.8256202 ],
       [0.516775  ],
       [0.42162135],
       [0.88535327],
       [0.8544003 ],
       [0.74513566],
       [0.5532744 ],
       [0.15785211],
       [0.1116337 ],
       [0.36374998],
       [0.62993   ],
       [0.3795842 ],
       [0.2609819 ],
       [0.83183527],
       [0.31141025],
       [0.6728353 ],
       [0.28210565],
       [0.4901576 ],
       [0.29415673],
       [0.88410586],
       [0.73233706],
       [0.85552484],
       [0.11697453],
       [0.9202843 ],
       [0.82475066],
       [0.21118692],
       [0.10579238],
       [0.83867604],
       [0.7184002 ],
       [0.47847164],
       [0.7359494 ],
       [0.22379133],
       [0.89998883],
       [0.19481166],
       [0.20885201],
       [0.19790009],
       [0.05907787],
       [0.84342897],
       [0.5216901 ],
       [0.54290974],
       [0.16842581],
       [0.14463243],
       [0.23626174],
       [0.7678117 ],
       [0.779338  ],
       [0.73895276],
       [0.6688764 ],
       [0.9209588 ],
       [0.5053367 ],
       [0.24261126],
       [0.20342343],
       [0.88514376],
       [0.87908083],
       [0.34763673],
       [0.28711843],
       [0.9116213 ],
       [0.19190186],
       [0.5219239 ],
       [0.46803448],
       [0.84755534],
       [0.8682309 ],
       [0.79175735],
       [0.5027292 ],
       [0.623411  ],
       [0.88869625],
       [0.6631873 ],
       [0.39448088],
       [0.09682213],
       [0.33579874],
       [0.17884578],
       [0.15553589],
       [0.91296184],
       [0.8147556 ],
       [0.8803179 ],
       [0.26828226],
       [0.07068449],
       [0.05370857],
       [0.17068641],
       [0.7467965 ],
       [0.8285774 ],
       [0.3963776 ],
       [0.5530057 ],
       [0.47595748],
       [0.22341955],
       [0.78988117],
       [0.6303021 ],
       [0.17917717],
       [0.21451738],
       [0.8613518 ],
       [0.32061478],
       [0.7211262 ],
       [0.17151275],
       [0.91546863],
       [0.14803632],
       [0.64173424],
       [0.2444667 ],
       [0.8146981 ],
       [0.34255388],
       [0.19544984],
       [0.9187751 ],
       [0.73863566],
       [0.6636263 ],
       [0.11964765],
       [0.3144088 ],
       [0.85355306],
       [0.30788487],
       [0.23857634],
       [0.10221604],
       [0.7435926 ],
       [0.55940855],
       [0.69373727],
       [0.4531034 ],
       [0.44058982],
       [0.86030376],
       [0.88660115],
       [0.17500137],
       [0.89905673],
       [0.17265624],
       [0.25554729],
       [0.65327245],
       [0.7907372 ],
       [0.15386723],
       [0.79066956],
       [0.45616543],
       [0.4853949 ],
       [0.10368285],
       [0.86381835],
       [0.61106193],
       [0.07287699],
       [0.37877813],
       [0.73321116],
       [0.4161335 ],
       [0.8569643 ],
       [0.45080012],
       [0.71298546],
       [0.17699939],
       [0.18619938],
       [0.91766864],
       [0.9116213 ],
       [0.32817554],
       [0.5276335 ],
       [0.92850906],
       [0.1867439 ],
       [0.31141025],
       [0.38435015],
       [0.16006611],
       [0.93881094],
       [0.72935003],
       [0.78981936],
       [0.8168464 ],
       [0.12471893],
       [0.304634  ],
       [0.67489284],
       [0.42622367],
       [0.20127042],
       [0.8517809 ],
       [0.89998883],
       [0.21940704],
       [0.45411703],
       [0.18333098],
       [0.24307418],
       [0.59241986],
       [0.5852244 ],
       [0.44871205],
       [0.93339425],
       [0.7856984 ],
       [0.29085794],
       [0.31039488],
       [0.3814451 ],
       [0.7359494 ],
       [0.9238572 ],
       [0.43429133],
       [0.7365648 ],
       [0.3823011 ],
       [0.2166226 ],
       [0.9190997 ],
       [0.7915899 ],
       [0.13222076],
       [0.06760006],
       [0.13652086],
       [0.88040066],
       [0.22595698],
       [0.89714795],
       [0.26012817],
       [0.12435668],
       [0.33242178],
       [0.17658411],
       [0.7842965 ],
       [0.28711843],
       [0.37692678],
       [0.56719244],
       [0.2762793 ],
       [0.53889996],
       [0.19759953],
       [0.78138214],
       [0.9284582 ],
       [0.9181158 ],
       [0.20885201],
       [0.8157525 ],
       [0.90088475],
       [0.7537442 ],
       [0.8221661 ],
       [0.7518574 ],
       [0.2890167 ],
       [0.8450533 ],
       [0.15883043],
       [0.6387858 ],
       [0.78067696],
       [0.64842546],
       [0.3065902 ],
       [0.3298782 ],
       [0.25938943],
       [0.7997489 ],
       [0.13981237],
       [0.61277056],
       [0.3231251 ],
       [0.88514376],
       [0.29308486],
       [0.75602615]], dtype=float32)

In [20]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            1.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [21]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.70      0.77      0.74       188
           1       0.78      0.71      0.74       212

    accuracy                           0.74       400
   macro avg       0.74      0.74      0.74       400
weighted avg       0.74      0.74      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
You would need two types of data:
Student data: Things like income, savings, spending, and debt to determine a students ability to repay their debt. Where are they going to school? What are they studying? What are their career prospects?

Loan data: interest rates, eligibilty criteria, repayment periods. 

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**
Content would be the best option as loans tend to rely on the features of the individual and their specific needs. 

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
You can only work with the data you have, and financial situations can change rapidly. Predicting these changes can be challenging. 

Data pertaining to finances and acedemic performance are considered personal and subject to privacy laws. Ensuring security and obtaining consent could be difficult.